@charset "utf-8";
/* CSS Document */
body{
	background-color: #99cc00;
}
div.header {
	background: -webkit-linear-gradient(top, rgb(60, 60, 60), rgb(17, 17, 17));
}
h1.header {
	color: red;
}
p {
	font-size: 15pt;
}

h1.title {
	margin:20px 10px 20px 10px;
}

h2.topic {
  /*線の種類（実線） 太さ 色*/
  border-bottom: solid 3px black;
}

div.start_btn {
	width: 500pt;
	float: center; 
	margin: 15pt
}
